{% extends "master.twig" %}

{% block content %}
    <div class="container">
        <h1 style="margin-top: 100px;">Welcome abroad, <br /> {{ salute }}.</h1>
        <h3>This is {{ name }}.</h3>
    </div>
{% endblock %}
